.o-grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  &--center-items{
    justify-items: center;
  }
  &--cg-1{
    grid-column-gap: 1em;
  }
  &--cg-2{
    grid-column-gap: 2em;
  }
  &--cg-3{
    grid-column-gap: 3em;
  }
  &--cg-4{
    grid-column-gap: 4em;
  }
}