@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1, 618 !important;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1, 618;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: "Lato", sans-serif;
  line-height: 1, 618;
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1, 618;
  background-color: white;
}

.o-wrapper {
  background-color: white;
}

.o-absolute-stretched-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.o-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.o-grid-container--center-items {
  justify-items: center;
}
.o-grid-container--cg-1 {
  grid-column-gap: 1em;
}
.o-grid-container--cg-2 {
  grid-column-gap: 2em;
}
.o-grid-container--cg-3 {
  grid-column-gap: 3em;
}
.o-grid-container--cg-4 {
  grid-column-gap: 4em;
}

.o-grid-element {
  grid-column-start: 1;
}
.o-grid-element--start-1 {
  grid-column-start: 1;
}
.o-grid-element--start-2 {
  grid-column-start: 2;
}
.o-grid-element--start-3 {
  grid-column-start: 3;
}
.o-grid-element--start-4 {
  grid-column-start: 4;
}
.o-grid-element--start-5 {
  grid-column-start: 5;
}
.o-grid-element--start-6 {
  grid-column-start: 6;
}
.o-grid-element--start-7 {
  grid-column-start: 7;
}
.o-grid-element--start-8 {
  grid-column-start: 8;
}
.o-grid-element--start-9 {
  grid-column-start: 9;
}
.o-grid-element--start-10 {
  grid-column-start: 10;
}
.o-grid-element--start-11 {
  grid-column-start: 11;
}
.o-grid-element--start-12 {
  grid-column-start: 12;
}
.o-grid-element--end-1 {
  grid-column-end: 2;
}
.o-grid-element--end-2 {
  grid-column-end: 3;
}
.o-grid-element--end-3 {
  grid-column-end: 4;
}
.o-grid-element--end-4 {
  grid-column-end: 5;
}
.o-grid-element--end-5 {
  grid-column-end: 6;
}
.o-grid-element--end-6 {
  grid-column-end: 7;
}
.o-grid-element--end-7 {
  grid-column-end: 8;
}
.o-grid-element--end-8 {
  grid-column-end: 9;
}
.o-grid-element--end-9 {
  grid-column-end: 10;
}
.o-grid-element--end-10 {
  grid-column-end: 11;
}
.o-grid-element--end-11 {
  grid-column-end: 12;
}
.o-grid-element--end-12 {
  grid-column-end: 13;
}
@media (max-width: 599px) {
  .o-grid-element--smartphone--start-1 {
    grid-column-start: 1;
  }
  .o-grid-element--smartphone--start-2 {
    grid-column-start: 2;
  }
  .o-grid-element--smartphone--start-3 {
    grid-column-start: 3;
  }
  .o-grid-element--smartphone--start-4 {
    grid-column-start: 4;
  }
  .o-grid-element--smartphone--start-5 {
    grid-column-start: 5;
  }
  .o-grid-element--smartphone--start-6 {
    grid-column-start: 6;
  }
  .o-grid-element--smartphone--start-7 {
    grid-column-start: 7;
  }
  .o-grid-element--smartphone--start-8 {
    grid-column-start: 8;
  }
  .o-grid-element--smartphone--start-9 {
    grid-column-start: 9;
  }
  .o-grid-element--smartphone--start-10 {
    grid-column-start: 10;
  }
  .o-grid-element--smartphone--start-11 {
    grid-column-start: 11;
  }
  .o-grid-element--smartphone--start-12 {
    grid-column-start: 12;
  }
  .o-grid-element--smartphone--end-1 {
    grid-column-end: 2;
  }
  .o-grid-element--smartphone--end-2 {
    grid-column-end: 3;
  }
  .o-grid-element--smartphone--end-3 {
    grid-column-end: 4;
  }
  .o-grid-element--smartphone--end-4 {
    grid-column-end: 5;
  }
  .o-grid-element--smartphone--end-5 {
    grid-column-end: 6;
  }
  .o-grid-element--smartphone--end-6 {
    grid-column-end: 7;
  }
  .o-grid-element--smartphone--end-7 {
    grid-column-end: 8;
  }
  .o-grid-element--smartphone--end-8 {
    grid-column-end: 9;
  }
  .o-grid-element--smartphone--end-9 {
    grid-column-end: 10;
  }
  .o-grid-element--smartphone--end-10 {
    grid-column-end: 11;
  }
  .o-grid-element--smartphone--end-11 {
    grid-column-end: 12;
  }
  .o-grid-element--smartphone--end-12 {
    grid-column-end: 13;
  }
}
@media (min-width: 600px) {
  .o-grid-element--small--start-1 {
    grid-column-start: 1;
  }
  .o-grid-element--small--start-2 {
    grid-column-start: 2;
  }
  .o-grid-element--small--start-3 {
    grid-column-start: 3;
  }
  .o-grid-element--small--start-4 {
    grid-column-start: 4;
  }
  .o-grid-element--small--start-5 {
    grid-column-start: 5;
  }
  .o-grid-element--small--start-6 {
    grid-column-start: 6;
  }
  .o-grid-element--small--start-7 {
    grid-column-start: 7;
  }
  .o-grid-element--small--start-8 {
    grid-column-start: 8;
  }
  .o-grid-element--small--start-9 {
    grid-column-start: 9;
  }
  .o-grid-element--small--start-10 {
    grid-column-start: 10;
  }
  .o-grid-element--small--start-11 {
    grid-column-start: 11;
  }
  .o-grid-element--small--start-12 {
    grid-column-start: 12;
  }
  .o-grid-element--small--end-1 {
    grid-column-end: 2;
  }
  .o-grid-element--small--end-2 {
    grid-column-end: 3;
  }
  .o-grid-element--small--end-3 {
    grid-column-end: 4;
  }
  .o-grid-element--small--end-4 {
    grid-column-end: 5;
  }
  .o-grid-element--small--end-5 {
    grid-column-end: 6;
  }
  .o-grid-element--small--end-6 {
    grid-column-end: 7;
  }
  .o-grid-element--small--end-7 {
    grid-column-end: 8;
  }
  .o-grid-element--small--end-8 {
    grid-column-end: 9;
  }
  .o-grid-element--small--end-9 {
    grid-column-end: 10;
  }
  .o-grid-element--small--end-10 {
    grid-column-end: 11;
  }
  .o-grid-element--small--end-11 {
    grid-column-end: 12;
  }
  .o-grid-element--small--end-12 {
    grid-column-end: 13;
  }
}
@media (min-width: 900px) {
  .o-grid-element--medium--start-1 {
    grid-column-start: 1;
  }
  .o-grid-element--medium--start-2 {
    grid-column-start: 2;
  }
  .o-grid-element--medium--start-3 {
    grid-column-start: 3;
  }
  .o-grid-element--medium--start-4 {
    grid-column-start: 4;
  }
  .o-grid-element--medium--start-5 {
    grid-column-start: 5;
  }
  .o-grid-element--medium--start-6 {
    grid-column-start: 6;
  }
  .o-grid-element--medium--start-7 {
    grid-column-start: 7;
  }
  .o-grid-element--medium--start-8 {
    grid-column-start: 8;
  }
  .o-grid-element--medium--start-9 {
    grid-column-start: 9;
  }
  .o-grid-element--medium--start-10 {
    grid-column-start: 10;
  }
  .o-grid-element--medium--start-11 {
    grid-column-start: 11;
  }
  .o-grid-element--medium--start-12 {
    grid-column-start: 12;
  }
  .o-grid-element--medium--end-1 {
    grid-column-end: 2;
  }
  .o-grid-element--medium--end-2 {
    grid-column-end: 3;
  }
  .o-grid-element--medium--end-3 {
    grid-column-end: 4;
  }
  .o-grid-element--medium--end-4 {
    grid-column-end: 5;
  }
  .o-grid-element--medium--end-5 {
    grid-column-end: 6;
  }
  .o-grid-element--medium--end-6 {
    grid-column-end: 7;
  }
  .o-grid-element--medium--end-7 {
    grid-column-end: 8;
  }
  .o-grid-element--medium--end-8 {
    grid-column-end: 9;
  }
  .o-grid-element--medium--end-9 {
    grid-column-end: 10;
  }
  .o-grid-element--medium--end-10 {
    grid-column-end: 11;
  }
  .o-grid-element--medium--end-11 {
    grid-column-end: 12;
  }
  .o-grid-element--medium--end-12 {
    grid-column-end: 13;
  }
}
@media (min-width: 1200px) {
  .o-grid-element--large--start-1 {
    grid-column-start: 1;
  }
  .o-grid-element--large--start-2 {
    grid-column-start: 2;
  }
  .o-grid-element--large--start-3 {
    grid-column-start: 3;
  }
  .o-grid-element--large--start-4 {
    grid-column-start: 4;
  }
  .o-grid-element--large--start-5 {
    grid-column-start: 5;
  }
  .o-grid-element--large--start-6 {
    grid-column-start: 6;
  }
  .o-grid-element--large--start-7 {
    grid-column-start: 7;
  }
  .o-grid-element--large--start-8 {
    grid-column-start: 8;
  }
  .o-grid-element--large--start-9 {
    grid-column-start: 9;
  }
  .o-grid-element--large--start-10 {
    grid-column-start: 10;
  }
  .o-grid-element--large--start-11 {
    grid-column-start: 11;
  }
  .o-grid-element--large--start-12 {
    grid-column-start: 12;
  }
  .o-grid-element--large--end-1 {
    grid-column-end: 2;
  }
  .o-grid-element--large--end-2 {
    grid-column-end: 3;
  }
  .o-grid-element--large--end-3 {
    grid-column-end: 4;
  }
  .o-grid-element--large--end-4 {
    grid-column-end: 5;
  }
  .o-grid-element--large--end-5 {
    grid-column-end: 6;
  }
  .o-grid-element--large--end-6 {
    grid-column-end: 7;
  }
  .o-grid-element--large--end-7 {
    grid-column-end: 8;
  }
  .o-grid-element--large--end-8 {
    grid-column-end: 9;
  }
  .o-grid-element--large--end-9 {
    grid-column-end: 10;
  }
  .o-grid-element--large--end-10 {
    grid-column-end: 11;
  }
  .o-grid-element--large--end-11 {
    grid-column-end: 12;
  }
  .o-grid-element--large--end-12 {
    grid-column-end: 13;
  }
}
@media (min-width: 1800px) {
  .o-grid-element--xl--end-1 {
    grid-column-end: 2;
  }
  .o-grid-element--xl--end-2 {
    grid-column-end: 3;
  }
  .o-grid-element--xl--end-3 {
    grid-column-end: 4;
  }
  .o-grid-element--xl--end-4 {
    grid-column-end: 5;
  }
  .o-grid-element--xl--end-5 {
    grid-column-end: 6;
  }
  .o-grid-element--xl--end-6 {
    grid-column-end: 7;
  }
  .o-grid-element--xl--end-7 {
    grid-column-end: 8;
  }
  .o-grid-element--xl--end-8 {
    grid-column-end: 9;
  }
  .o-grid-element--xl--end-9 {
    grid-column-end: 10;
  }
  .o-grid-element--xl--end-10 {
    grid-column-end: 11;
  }
  .o-grid-element--xl--end-11 {
    grid-column-end: 12;
  }
  .o-grid-element--xl--end-12 {
    grid-column-end: 13;
  }
}

.c-aboutUs {
  background: white;
  padding: 3rem;
  color: white;
  width: 100%;
  word-break: break-word;
}
.c-aboutUs__text {
  color: black;
}
.c-aboutUs__element {
  color: black;
}
.c-aboutUs__line {
  background-color: #696868;
  /*border: 4px solid red;*/
  height: 0.1em;
  margin: 1em 0em 1.5em 0em;
  display: block;
}

.c-button {
  font-size: "Montserrat", sans-serif;
  font-size: 1.1em;
  border: 2px solid gray;
  color: black;
  background: white;
  padding: 0.5em;
  transition: background-color 0.3s, color 0.3s ease;
}
.c-button:hover {
  color: white;
  background: black;
}

/*# sourceMappingURL=all.css.map */
