.c-category-price-card{
  margin-top: 2rem;
  &__text {
    text-align: center;
    .fa-coins{
      color:goldenrod;
    }
  }
  hr{
    width: 10%;
    border: 2px solid black;
    margin: 1em auto;
  }
  &__list {
    padding: 1em;

  }
  &__list-element{
    margin-top: 0.5em;
    text-align: center;
  }

}