@import '../01-settings/settings-fonts';
.c-introduction-content{
  margin-top: 1em ;
  width: 100%;
  padding: 1em;
  margin-bottom: 2em;

  &__text-container{
    text-align: center;
    padding: 1em;
  }
  &__text{

    display: inline-block;
    max-width: 64em;
    text-align: left  ;
    //font-style: ;
  }
  &__requirements-container{
    padding: 1em;
  }
  &__requirements{

    display: inline;
    text-align: left;

    .fas {
      color : green;
      margin-right: 0.5em;
    }
  }


}