@import "../02-tools/tools-breakpoints";

.c-required-documents{
  @include for-phone-only{
    justify-content: left;
  }
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 2em;
  flex-wrap: wrap;
  hr{
    width: 10%;
    border: 2px solid black;
    margin: 1em auto;
  }

  &__title{
    margin-bottom: 1em;
    flex: 0 0 100%;
    text-align: center;
  }
  &__document {
    @include for-phone-only{
      flex: 0 0 100%;
      margin-top: 0.5em;
    }
    margin-right: 2em ;
    i{
      color: #53B8AC;
      margin-right: 0.4em;
    }
  }
}


#demo {
  height:100%;
  position:relative;
}
.box {
  width:50px;
  height:50px;
  position:relative;
  border-radius:6px;
  margin-top:4px;
  display:inline-block
}

.green{
  background-color:#6fb936;
}

.orange {
  background-color:#f38630;
}
.grey {
  background-color:#989898;
}

