@import "../01-settings/settings-fonts";
.c-button{
  font-size: $font-Montserrat;
  font-size: 1.1em;
  border: 2px solid gray;
  color: black;
  background: white;
  padding: 0.5em;
  transition: background-color 0.3s,  color 0.3s  ease;
  &:hover{

    color: white;
    background: black;
  }


  &--red{
    border-radius: 10px;
    padding: 0.7em;
    border: 2px solid darkred;
    transition: 0.3s background-color ease-out, 0.3s color ease-out;
    &:hover{
      color: white;
      background: darkred;
    }

  }


}